<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.runtime.remoting>
      <application>
        <channels> 
          <channel ref="tcp" port ="1234"/>
        </channels>
        <service>
          <wellknown type ="IBrokerCAO.MyBrokerObject, IBroker"
                 mode="Singleton"
                 objectUri="JobBroker"/>
        </service>
       </application>
    </system.runtime.remoting>
</configuration>