<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBasicBindingServiceConfig" />
        <binding name="Broker_Client_Endpoint" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingServiceConfig" />
        <binding name="wsHttpBindingClientConfig" />
        <binding name="Broker_Stand_Endpoint" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost:8080/BrokerStandService"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBindingClientConfig"
        contract="BrokerStandContract.IBrokerStandService" name="Stand_Broker_Endpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/BrokerClientService"
        binding="basicHttpBinding" bindingConfiguration="Broker_Client_Endpoint"
        contract="Broker.IBrokerClientService" name="Broker_Client_Endpoint" />
      <endpoint address="http://localhost:8080/BrokerStandService"
        binding="wsHttpBinding" bindingConfiguration="Broker_Stand_Endpoint"
        contract="Broker.IBrokerStandService" name="Broker_Stand_Endpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <services>
      <service name="StandAuto.Stand">
        <endpoint address="http://localhost:8002/StandBrokerService" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingServiceConfig"
            name="MyEndpoint" contract="StandContract.IStandBrokerContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8002/StandClientService" binding="basicHttpBinding" bindingConfiguration="httpBasicBindingServiceConfig"
            name="MyEndpoint" contract="StandClientContract.IStandClientContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8002/StandBrokerService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>