<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8010/ClientService" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBindingConfig" contract="CLIENT.ClientContract"
          name="BasicHttpBinding_ClientContract" />
    </client>
  </system.serviceModel>
</configuration>